        :root{
            --preto: #1F1717;
            --branco: #F9E8D9;
            --laranjaC: #F7B787;
            --laranjaE: #EE7214;
            --verde: #527853;
        }

        *{
            color: var(--fontColor);
            font-family: Arial, Helvetica, sans-serif;
            box-sizing: border-box;
        }

        body{
            background: var(--bg);
            background-color: var(--laranjaC);
            color: var(--preto);
            display: flex;
            transition: backgound 0.2s linear;
        }


        #content {
            border-block-color: #111;
            padding: 50px;
            display:block;
        }


        body.dark{
            --bg: var(--preto);
            --fontColor: var(--branco);
            
        #navbar {
            overflow: hidden;
            background-color: var(--preto);
        }

        #navbar a {
            float: left;
            display: block;
            background-color: var(--laranjaE);
            color: var(--branco);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        #navbar a:hover {
            background-color: var(--verde);
            color: var(--branco);
        }

            #navbar a.active {
                background-color: var(--laranjaC);
                color: var(--branco);
            }

        }

       