:root {
    --preto: #1F1717;
    --branco: #F9E8D9;
    --laranjaC: #EE7C4B;
    --laranjaE: #AE431E;
    --verde: #6B240C;
}

* {
    color: var(--fontColor);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: var(--branco);
    color: var(--preto);
    display: flex;
    transition: background 0.2s linear;
}

.jumbotron{
    padding-top: 30px;
    background-color: var(--laranjaE);
    color: var(--preto);
 }

.dark-mode {
    background-color: var(--preto);
    --fontColor: var(--branco);
    #navbar{
        background-color: var(--laranjaC);
        color: var(--preto);
    }
    #navbar a {
        background-color: var(--laranjaC);
        color: var(--preto);
    }
    #navbar a:hover {
        background-color: var(--laranjaE);
        color: var(--preto);
    }
    .jumbotron{
        background-color: var(--laranjaC);
        color: var(--preto);
     }
     #navbar a.active {
        background-color: var(--laranjaE);
        color: var(--preto);
    }
}

#dbtn{
    position: fixed;
    margin: 20px;
    align-self: flex-end;
}

#navbar {
    overflow: hidden;
    background-color: var(--laranjaE);
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar a {
    float: left;
    display: block;
    background-color: var(--laranjaE);
    color: var(--preto);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: var(--verde);
    color: var(--branco);
}

#navbar a.active {
    background-color: var(--verde);
    color: var(--branco);
}

.container-fluid {
    padding: 20px;
}

.custom-jumbotron {
    padding: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + #content {
    padding-top: 60px;
}
